@layout('base')
@set('title', 'Home page/wallet')

@section('content')
  <section class="assets-section pb-100 pt-5"><br><br>
    <div class="container p-3 text-center">
      <h1>NFT Page</h1>
    </div>
  </section>
  @end
