
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">

  <meta name="author" content="codexcoder">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Meta tags for Social Media(Better SEO) -->
  <!-- <meta property="og:title" content=""> -->
  <!-- <meta property="og:type" content=""> -->
  <!-- <meta property="og:url" content=""> -->
  <!-- <meta property="og:image" content=""> -->

  <!-- site favicon -->
  <link rel="icon" type="image/png" href="assets/images/favicon.png">

  <!-- ====== All css file ========= -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css//icofont.min.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/lightcase.css">
  <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
  <link rel="stylesheet" href="assets/css/style.min.css">


  <!-- site title -->
  <title>Marketplace</title>
</head>

<body>
<!-- preloader start here -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- preloader ending here -->

<!-- ===============// header section start here \\================= -->
<header class="header">
  <div class="container-fluid">
    <div class="header__content">
      <div class="header__logo">
        <a href="{{route('HomePages')}}" style="font-size: 30px">
          Marketplace
        </a>
      </div>
      <div class="header__menu ms-auto">

      </div>
      <div class="header__actions">
        <div class="header__action header__action--profile">
          <div class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false" data-bs-offset="-100,10">
              <span data-blast="bgColor"><i class="icofont-user"></i></span> <span
                class="d-none d-md-inline">....</span>
            </a>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="{{route('profil')}}">
                  <span class="me-1"><i class="icofont-options"></i></span>Profil</a>
              </li>

              <li><a class="dropdown-item" href="{{route('register')}}"><span class="me-1"><i
                      class="icofont-space-shuttle"></i></span>Inscription</a></li>
              <li><a class="dropdown-item" href="{{route('login')}}"><span class="me-1"><i
                      class="icofont-login"></i></span>Connexion</a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>

              <li><a class="dropdown-item" href="#"> Déconnexion <span class="ms-1"><i class="icofont-logout"></i></span></a></li>
            </ul>
          </div>
        </div>
        <div class="wallet-btn">
          <a href="wallet.html"><span><i class="icofont-wallet" data-blast="color"></i></span> <span
              class="d-none d-md-inline">.... Photon</span> </a>
        </div>

      </div>

      <button class="menu-trigger header__btn" id="menu05">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>    <!-- ===============//header section end here \\================= -->



<!-- ==========Page Header Section Start Here========== -->
<section class="page-header-section style-1">
  <div class="container">
    <div class="page-header-content">
      <div class="page-header-inner">
        <div class="page-title">
          <h2>Inscription</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Page Header Section Ends Here========== -->


<!-- ==========login Section start Here========== -->
<div class="login-section padding-top padding-bottom">
  <div class=" container">
    <div class="row g-5 align-items-center flex-md-row-reverse">
      <div class="col-lg-5">
        <div class="account-wrapper">
          <h3 class="title">Nouveau compte</h3>
          <form class="account-form">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="userIdInput" placeholder="Nom">
              <label for="userIdInput">Nom</label>
            </div>
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput"
                     placeholder="name@example.com">
              <label for="floatingInput">Email</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="floatingPassword"
                     placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="confirmPass"
                     placeholder="Confirm Password">
              <label for="confirmPass">Confirmer Password</label>
            </div>
            <div class="form-group">
              <div class="d-flex justify-content-between flex-wrap pt-sm-2">
                <div class="checkgroup">
                  <input type="checkbox" name="remember" id="remember">
                  <label for="remember">Souviens-toi de moi</label>
                </div>
                <a href="forgot-pass.html">Mot de passe oublié?</a>
              </div>
            </div>
            <div class="form-group">
              <button class="d-block default-btn move-top"><span>Inscription</span></button>
            </div>
          </form>
          <div class="account-bottom">
            <span class="d-block cate pt-10">Vous avez déjà un compte? <a href="signin.html"> S'identifier</a></span>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="account-img">
          <img src="assets/images/account/01.png" alt="shape-image">
        </div>
      </div>
    </div>

  </div>
</div>
<!-- ==========Login Section ends Here========== -->



<!-- ===============//footer section start here \\================= -->
<footer class="footer-section">
  <div class="footer-top" style="background-image: url(assets/images/footer/bg.jpg);">
    <div class="footer-links padding-top padding-bottom">
      <div class="container">
        <div class="row g-5 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5">
          <div class="col">
            <div class="footer-link-item">
              <h5>A propos</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">Explore</a></li>
                <li><a href="#" class="footer-link">How it works</a></li>
                <li><a href="#" class="footer-link">Support</a></li>
                <li><a href="#" class="footer-link">Become a partner</a></li>

              </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-link-item">
              <h5>NFT Marketplace</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">Sell your assets</a></li>
                <li><a href="#" class="footer-link">FAQ</a></li>
                <li><a href="#" class="footer-link">Support</a></li>
                <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                <li><a href="#" class="footer-link">Your purchases</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-link-item">
              <h5>Music</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">About</a></li>
                <li><a href="#" class="footer-link">Mission & Team</a></li>
                <li><a href="#" class="footer-link">Our Blog</a></li>
                <li><a href="#" class="footer-link">Services</a></li>
                <li><a href="#" class="footer-link">We're Hiring</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-link-item">
              <h5>Art</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">Sell your assets</a></li>
                <li><a href="#" class="footer-link">FAQ</a></li>
                <li><a href="#" class="footer-link">Support</a></li>
                <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                <li><a href="#" class="footer-link">Your purchases</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-link-item">
              <h5>Liens utils</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">NFT Token</a></li>
                <li><a href="#" class="footer-link">Discusion</a></li>
                <li><a href="#" class="footer-link">Voting</a></li>
                <li><a href="#" class="footer-link">Suggest Feature</a></li>
                <li><a href="#" class="footer-link">Language</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="text-center py-4 mb-0">All rights reserved &copy; Marketplace || Design By: <a
          href="#">Team blockchain UVCI</a>
      </p>
    </div>
  </div>

</footer>
<!-- ===============//footer section end here \\================= -->



<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="icofont-stylish-up"></i></a>
<!-- scrollToTop ending here -->




<!-- All Scripts -->
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/lightcase.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/countdown.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/functions.js"></script>
</body>

</html>
