
<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
  <meta charset="utf-8">

  <meta name="author" content="codexcoder">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Meta tags for Social Media(Better SEO) -->
  <!-- <meta property="og:title" content=""> -->
  <!-- <meta property="og:type" content=""> -->
  <!-- <meta property="og:url" content=""> -->
  <!-- <meta property="og:image" content=""> -->

  <!-- site favicon -->
  <link rel="icon" type="image/png" href="assets/images/favicon.png">
  <title>AfricanArt</title>

  <!-- ====== All css file ========= -->
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css//icofont.min.css">
  <link rel="stylesheet" href="assets/css/animate.css">
  <link rel="stylesheet" href="assets/css/style.min.css">


<!-- 1. Install Magic SDK -->
<script src="https://auth.magic.link/sdk"></script>
  <!-- site title -->


{{--  
    <script
      src="https://auth.magic.link/pnp/login"
      data-magic-publishable-api-key="pk_live_C0D5BD4D07859238"
      data-redirect-uri="/callback">
  </script> 
 --}}
 
 <script>
    /* 2. Initialize Magic Instance */
    const magic = new Magic('pk_live_C0D5BD4D07859238');

    /* 2. Initialize Magic Instance */
    var user = {};
    (async function(){
         user = await magic.user;
         if(await user.isLoggedIn()){
           window.location.replace("/") ;
         }
    })();

    
  
 </script>
</head>

<body>
<!-- preloader start here -->
<div class="preloader">
  <div class="preloader-inner">
    <div class="preloader-icon">
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- preloader ending here -->

<!-- ===============// header section start here \\================= -->
<header class="header">
  <div class="container-fluid">
    <div class="header__content">
      <div class="header__logo">
        <a href="{{route('HomePages')}}" style="font-size: 30px">
         
        </a>
      </div>
      <div class="header__menu ms-auto">

      </div>
     
      <button class="menu-trigger header__btn" id="menu05">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </div>
</header>    <!-- ===============//header section end here \\================= -->



<!-- ==========Page Header Section Start Here========== -->
<section class="page-header-section style-1">
  <div class="container">
    <div class="page-header-content">
      <div class="page-header-inner">
        <div class="page-title">
          <h2>Bienvenue sur AfricanArt </h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ==========Page Header Section Ends Here========== -->


<div class="login-section  pt-4 padding-bottom ">
    <div class=" container" >
      <div class="row g-6 align-items-center mx-auto">
        <div class="col-lg-6 mx-auto">
          <div class="account-wrapper">
            <h3 class="title">Connexion/Inscription</h3>
              <div id="app">

              </div>
            <div class="account-bottom">
              <span class="d-block cate pt-10">Rentrez votre email pour vous <a href="#"> identifier!</a></span>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>
<!-- ==========Login Section ends Here========== -->




<!-- ===============//footer section start here \\================= -->
<footer class="footer-section">
  <div class="footer-top" style="background-image: url(assets/images/footer/bg.jpg);">
    <div class="footer-links padding-top padding-bottom">
      <div class="container">
        <div class="row g-5 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5">
          {{--  <div class="col">
            <div class="footer-link-item">
              <h5>A propos</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">Explore</a></li>
                <li><a href="#" class="footer-link">How it works</a></li>
                <li><a href="#" class="footer-link">Support</a></li>
                <li><a href="#" class="footer-link">Become a partner</a></li>

              </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-link-item">
              <h5>NFT AfricanArt</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">Sell your assets</a></li>
                <li><a href="#" class="footer-link">FAQ</a></li>
                <li><a href="#" class="footer-link">Support</a></li>
                <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                <li><a href="#" class="footer-link">Your purchases</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-link-item">
              <h5>Music</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">About</a></li>
                <li><a href="#" class="footer-link">Mission & Team</a></li>
                <li><a href="#" class="footer-link">Our Blog</a></li>
                <li><a href="#" class="footer-link">Services</a></li>
                <li><a href="#" class="footer-link">We're Hiring</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-link-item">
              <h5>Art</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">Sell your assets</a></li>
                <li><a href="#" class="footer-link">FAQ</a></li>
                <li><a href="#" class="footer-link">Support</a></li>
                <li><a href="#" class="footer-link">Privacy/Policy</a></li>
                <li><a href="#" class="footer-link">Your purchases</a></li>
              </ul>
            </div>
          </div>
          <div class="col">
            <div class="footer-link-item">
              <h5>Liens utils</h5>
              <ul class="footer-link-list">
                <li><a href="#" class="footer-link">NFT Token</a></li>
                <li><a href="#" class="footer-link">Discusion</a></li>
                <li><a href="#" class="footer-link">Voting</a></li>
                <li><a href="#" class="footer-link">Suggest Feature</a></li>
                <li><a href="#" class="footer-link">Language</a></li>
              </ul>
            </div>
          </div>
        </div>  --}}
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <p class="text-center py-4 mb-0">All rights reserved &copy; AfricanArt || Design By: <a
          href="#">Team blockchain UVCI</a>
      </p>
    </div>
  </div>

</footer>
<!-- ===============//footer section end here \\================= -->



<!-- scrollToTop start here -->
<a href="#" class="scrollToTop"><i class="icofont-stylish-up"></i></a>
<!-- scrollToTop ending here -->


<script>


/* 3. Implement Render Function */
const render = async () => {
  let html = '';

  /*
    For this tutorial, our callback route is simply "/callback"
  */
  if (window.location.pathname === 'callback') {
    try {
      /* Complete the "authentication callback" */
      await magic.auth.loginWithCredential();

      /* Get user metadata including email */
      const userMetadata = await magic.user.getMetadata();

      html = `
        <h1>Current user: ${userMetadata.email}</h1>
        <button onclick="handleLogout()">Logout</button>
      `;
    } catch {
      /* In the event of an error, we'll go back to the login page */
      window.location.href = window.location.origin;
    }
  } else {
    const isLoggedIn = await magic.user.isLoggedIn();

    /* Show login form if user is not logged in */
    html = `
      <form onsubmit="handleLogin(event)" class="account-form">
        <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email"
                       placeholder="name@example.com" name="email" value="toure5013@gmail.com" required="required" >
                <label for="email">Email</label>
              </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
    `;

    if (isLoggedIn) {
      /* Get user metadata including email */
      const userMetadata = await magic.user.getMetadata();
      html = `
        <h1>Current user: ${userMetadata.email}</h1>
        <button onclick="handleLogout()">Logout</button>
      `;
    }
  }

  document.getElementById('app').innerHTML = html;
};


render()
/* 4. Implement Login Handler */
const handleLogin = async e => {
  e.preventDefault();
  const email = new FormData(e.target).get('email');
  const redirectURI = `http://localhost:3333/callback`//`${window.location.origin}/callback`; // 👈 This will be our callback URI
  if (email) {
    /* One-liner login 🤯 */
    await magic.auth.loginWithMagicLink({ email, redirectURI }); // 👈 Notice the additional parameter!
    render();
  }
};


/* 5. Implement Logout Handler */
const handleLogout = async () => {
  await magic.user.logout();
  render();
};

</script>

<!-- All Scripts -->
<script src="assets/js/jquery-3.6.0.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/lightcase.js"></script>
<script src="assets/js/swiper-bundle.min.js"></script>
<script src="assets/js/countdown.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/isotope.pkgd.min.js"></script>
<script src="assets/js/functions.js"></script>
</body>

</html>
