<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8">

    <meta name="author" content="codexcoder">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags for Social Media(Better SEO) -->
    <!-- <meta property="og:title" content=""> -->
    <!-- <meta property="og:type" content=""> -->
    <!-- <meta property="og:url" content=""> -->
    <!-- <meta property="og:image" content=""> -->

    <!-- site favicon -->
    <link rel="icon" type="image/png" href="assets/images/favicon.png">

    <!-- ====== All css file ========= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css//icofont.min.css">
    <!-- <link rel="stylesheet" href="assets/css/blast.min.css"> -->
    <link rel="stylesheet" href="assets/css/lightcase.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css">
    <script src="assets/js/jquery-3.6.0.min.js"></script>

    <script src="assets/node_modules/web3/dist/web3.min.js"></script>
    <script src="assets/js/main.js"></script>




    <!-- site title -->
    <title>African Art</title>
</head>

<body>
    <!-- preloader start here -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- preloader ending here -->


    <!-- ===============// header section start here \\================= -->
    @include('partials/header')
    <!-- ===============//header section end here \\================= -->


    <!-- ===============//banner section start here \\================= -->
    <section class="banner-section">
        <div class="container">
            <div class="banner-wrapper">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <h1><span class="theme-color" data-blast="color">Découvrir</span> Collecter<br>
                                et vendre des actifs <span class="theme-color" data-blast="color">NFT</span></h1>
                            <div class="banner-btns d-flex flex-wrap">
                                <!-- Interact with metamask -->
                                <a data-blast="bgColor" href="#" class="default-btn move-top"><span>Acheter</span> </a>
                                <a href="" class="default-btn move-right connectWallet"><span>Connect</span> </a>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="banner-image">
                            <img src="assets/images/banner/bannerg.png" alt="NFT Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============//banner section end here \\================= -->

    <section class="assets-section pb-100 pt-5">
        <div class="container">
            <div class="section-header">
                <div class="header-title">
                    <div class="live-icon" data-blast="bgColor">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24">
                            <title>live</title>
                            <g id="Layer_3" data-name="Layer 3">
                                <g id="Layer_3-3" data-name="Layer 3">
                                    <path d="M12,17.87l4.36,4.51,4.37-4.51A6,6,0,0,0,12,17.87Z" />
                                    <path d="M6,12.35l2.91,3a10,10,0,0,1,14.54,0l2.91-3A14.09,14.09,0,0,0,6,12.35Z" />
                                    <path
                                        d="M0,6.85l2.91,3a18.09,18.09,0,0,1,26.18,0l2.91-3A22.12,22.12,0,0,0,0,6.85Z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h3>Music</h3>
                </div>
                <div class="header-content">
                    <ul class="assets-filter-list d-flex flex-wrap align-items-center mb-0">
                        <!-- <li class="assets-filter-btn is-checked" data-filter="*">Zouglou</li> -->
                        <!-- <li class="assets-filter-btn" data-filter=".virtual">Coupé décalé</li> -->
                        <!-- <li class="assets-filter-btn" data-filter=".top">Traditionnelle</li> -->
                        <li class="assets-filter-btn" data-filter=".collect">Balafon</li>
                        <li class="assets-filter-btn" data-filter=".trending">Madingue</li>
                        <li class="assets-filter-btn" data-filter=".cards">Slam</li>
                    </ul>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="assets-holder d-flex flex-wrap justify-content-center align-items-center">
                    <div class="nft-item top trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;"
                                        src="assets/images/arts/madingue/Mandingue1.jpg" alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">EUPHORIA de</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            230</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="nft-item top trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" src="assets/images/arts/v2.png"
                                        alt="nft-img">
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">Mewao com de</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            278</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <div class="nft-item cards virtual">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;"
                                        src="assets/images/arts/madingue/madingue5.jpg" alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">Guerrier Madingue</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="item-details.html" class="nft-like" data-blast="color"><i
                                                class="icofont-heart"></i>
                                            340</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item top trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" src="assets/images/arts/v3.png"
                                        alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">Logical Impact </a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            330</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item collect cards">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" style="height: 340px;"
                                        src="assets/images/arts/balafon/balafon2.jpg" alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">Fly on high</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            355</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item virtual trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" src="assets/images/arts/v5.png"
                                        alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">kiara rodri de</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            60</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item cards collect">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img loading="lazy" style="height: 375px;"
                                            src="assets/images/arts/balafon/balafon3.jpg" alt="nft-img">

                                        <!-- nft countdwon -->
                                        <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                    </div>
                                    <div class="nft-content">
                                        <h4><a href="item-details.html">EUPHORIA de</a> </h4>
                                        <div class="price-like d-flex justify-content-between align-items-center">
                                            <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                            </p>
                                            <a href="#" class="nft-like" data-blast="color"><i
                                                    class="icofont-heart"></i>
                                                230</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nft-item top trending">
                            <div class="nft-inner">
                                <!-- nft top part -->
                                <div class="nft-item-top d-flex justify-content-between align-items-center">
                                    <div class="more-part">
                                        <div class=" dropstart">
                                            <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                                aria-expanded="false" data-bs-offset="25,0">
                                                <i class="icofont-flikr"></i>
                                            </a>

                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#"><span>
                                                            <i class="icofont-warning"></i>
                                                        </span> Report </a>
                                                </li>
                                                <li><a class="dropdown-item" href="#"><span><i
                                                                class="icofont-reply"></i></span> Share</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- nft-bottom part -->
                                <div class="nft-item-bottom">
                                    <div class="nft-thumb">
                                        <img loading="lazy" style="height: 340px;" src="assets/images/arts/v7.png"
                                            alt="nft-img">

                                        <!-- nft countdwon -->
                                        <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                    </div>
                                    <div class="nft-content">
                                        <h4><a href="item-details.html">Homies wall</a> </h4>
                                        <div class="price-like d-flex justify-content-between align-items-center">
                                            <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                            </p>
                                            <a href="#" class="nft-like" data-blast="color"><i
                                                    class="icofont-heart"></i>
                                                930</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <section class="assets-section pb-100">
        <div class="container">
            <div class="section-header">
                <div class="header-title">
                    <div class="live-icon" data-blast="bgColor">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24">
                            <title>live</title>
                            <g id="Layer_3" data-name="Layer 3">
                                <g id="Layer_3-3" data-name="Layer 3">
                                    <path d="M12,17.87l4.36,4.51,4.37-4.51A6,6,0,0,0,12,17.87Z" />
                                    <path d="M6,12.35l2.91,3a10,10,0,0,1,14.54,0l2.91-3A14.09,14.09,0,0,0,6,12.35Z" />
                                    <path
                                        d="M0,6.85l2.91,3a18.09,18.09,0,0,1,26.18,0l2.91-3A22.12,22.12,0,0,0,0,6.85Z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h3>L'ART</h3>
                </div>
                <div class="header-content">
                    <ul class="assets-filter-list d-flex flex-wrap align-items-center mb-0">
                        <li class="assets-filter-btn is-checked" data-filter="*">Théâtre</li>
                        <li class="assets-filter-btn" data-filter=".virtual">Danse</li>
                        <li class="assets-filter-btn" data-filter=".top">Architecture</li>
                        <li class="assets-filter-btn" data-filter=".collect">Cinéma</li>
                        <li class="assets-filter-btn" data-filter=".trending">Cirque</li>
                        <li class="assets-filter-btn" data-filter=".cards">Urbanisme</li>
                    </ul>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="assets-holder d-flex flex-wrap justify-content-center align-items-center">
                    <div class="nft-item top trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" src="assets/images/arts/v8.png"
                                        alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">EUPHORIA de</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            230</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item top trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" src="assets/images/arts/v3.png"
                                        alt="nft-img">
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">Mewao com de</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            278</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item cards virtual">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;"
                                        src="assets/images/arts/madingue/madingue2.jpg" alt="nft-img">

                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">pet mice rio</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="item-details.html" class="nft-like" data-blast="color"><i
                                                class="icofont-heart"></i>
                                            340</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item top trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" src="assets/images/arts/v10.png"
                                        alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">Logical Impact </a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            330</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item collect cards">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;"
                                        src="assets/images/arts/balafon/balafon2.jpg" alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">Fly on high</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            355</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item virtual trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;"
                                        src="assets/images/arts/african-music.jpg" alt="nft-img">
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">kiara rodri de</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            60</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item cards collect">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" src="assets/images/arts/v13.png"
                                        alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">EUPHORIA de</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            230</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nft-item top trending">
                        <div class="nft-inner">
                            <!-- nft top part -->
                            <div class="nft-item-top d-flex justify-content-between align-items-center">
                                <div class="more-part">
                                    <div class=" dropstart">
                                        <a class=" dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                            aria-expanded="false" data-bs-offset="25,0">
                                            <i class="icofont-flikr"></i>
                                        </a>

                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#"><span>
                                                        <i class="icofont-warning"></i>
                                                    </span> Report </a>
                                            </li>
                                            <li><a class="dropdown-item" href="#"><span><i
                                                            class="icofont-reply"></i></span> Share</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- nft-bottom part -->
                            <div class="nft-item-bottom">
                                <div class="nft-thumb">
                                    <img loading="lazy" style="height: 340px;" src="assets/images/arts/v14.png"
                                        alt="nft-img">

                                    <!-- nft countdwon -->
                                    <!-- <ul data-blast="bgColor" class="nft-countdown count-down"
                        data-date="July 05, 2022 21:14:01">
                        <li>
                            <span class="days">34</span><span class="count-txt">D</span>
                        </li>
                        <li>
                            <span class="hours">09</span><span class="count-txt">H</span>
                        </li>
                        <li>
                            <span class="minutes">32</span><span class="count-txt">M</span>
                        </li>
                        <li>
                            <span class="seconds">32</span><span class="count-txt">S</span>
                        </li>
                    </ul> -->
                                </div>
                                <div class="nft-content">
                                    <h4><a href="item-details.html">Homies wall</a> </h4>
                                    <div class="price-like d-flex justify-content-between align-items-center">
                                        <p class="nft-price">Price: <span class="yellow-color">0.34 PHOTON</span>
                                        </p>
                                        <a href="#" class="nft-like" data-blast="color"><i class="icofont-heart"></i>
                                            930</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ===============//auction section start here \\================= -->
    <section class="auction-section padding-top padding-bottom">
        <div class="container">
            <div class="section-header">
                <div class="header-title">
                    <div class="live-icon" data-blast="bgColor">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 24">
                            <title>live</title>
                            <g id="Layer_2" data-name="Layer 2" data-blast="color">
                                <g id="Layer_2-2" data-name="Layer 2">
                                    <path d="M12,17.87l4.36,4.51,4.37-4.51A6,6,0,0,0,12,17.87Z" />
                                    <path d="M6,12.35l2.91,3a10,10,0,0,1,14.54,0l2.91-3A14.09,14.09,0,0,0,6,12.35Z" />
                                    <path
                                        d="M0,6.85l2.91,3a18.09,18.09,0,0,1,26.18,0l2.91-3A22.12,22.12,0,0,0,0,6.85Z" />
                                </g>
                            </g>
                        </svg>
                    </div>
                    <h3>Live Auctions</h3>
                </div>
                <div class="header-content">
                    <div class="auction-nav d-flex flex-wrap align-items-center">
                        <div class="auction-prev"><i class="icofont-arrow-left"></i></div>
                        <div class="auction-next"><i class="icofont-arrow-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="section-wrapper">
                <div class="auction-holder">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="nft-item">
                                <div class="nft-inner">
                                    <!-- nft top part -->
                                    <div class="nft-item-top d-flex justify-content-between align-items-center">
                                        <div class="more-part">
                                            <div class=" dropstart">
                                                <a class=" dropdown-toggle" href="#" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    data-bs-offset="25,0">
                                                    <i class="icofont-flikr"></i>
                                                </a>

                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#"><span>
                                                                <i class="icofont-warning"></i>
                                                            </span> Report </a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><span><i
                                                                    class="icofont-reply"></i></span> Share</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- nft-bottom part -->
                                    <div class="nft-item-bottom">
                                        <div class="nft-thumb">
                                            <img src="assets/images/arts/v14.png" alt="nft-img">

                                            <!-- nft countdwon -->
                                            <ul data-blast="bgColor" class="nft-countdown count-down"
                                                data-date="July 05, 2022 21:14:01">
                                                <li>
                                                    <span class="days">34</span><span class="count-txt">D</span>
                                                </li>
                                                <li>
                                                    <span class="hours">09</span><span class="count-txt">H</span>
                                                </li>
                                                <li>
                                                    <span class="minutes">32</span><span class="count-txt">M</span>
                                                </li>
                                                <li>
                                                    <span class="seconds">32</span><span class="count-txt">S</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nft-content">
                                            <h4><a href="item-details.html">Walking On
                                                    Air</a> </h4>
                                            <div class="price-like d-flex justify-content-between align-items-center">
                                                <p class="nft-price">Price: <span class="yellow-color">0.34
                                                        PHOTON</span>
                                                </p>
                                                <a href="#" class="nft-like" data-blast="color"><i
                                                        class="icofont-heart"></i>
                                                    230</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="nft-item">
                                <div class="nft-inner">
                                    <!-- nft top part -->
                                    <div class="nft-item-top d-flex justify-content-between align-items-center">
                                        <div class="more-part">
                                            <div class=" dropstart">
                                                <a class=" dropdown-toggle" href="#" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    data-bs-offset="25,0">
                                                    <i class="icofont-flikr"></i>
                                                </a>

                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#"><span>
                                                                <i class="icofont-warning"></i>
                                                            </span> Report </a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><span><i
                                                                    class="icofont-reply"></i></span> Share</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- nft-bottom part -->
                                    <div class="nft-item-bottom">
                                        <div class="nft-thumb">
                                            <img src="assets/images/arts/v4.png" alt="nft-img">

                                            <!-- nft countdwon -->
                                            <ul data-blast="bgColor" class="nft-countdown count-down"
                                                data-date="July 05, 2022 21:14:01">
                                                <li>
                                                    <span class="days">34</span><span class="count-txt">D</span>
                                                </li>
                                                <li>
                                                    <span class="hours">09</span><span class="count-txt">H</span>
                                                </li>
                                                <li>
                                                    <span class="minutes">32</span><span class="count-txt">M</span>
                                                </li>
                                                <li>
                                                    <span class="seconds">32</span><span class="count-txt">S</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nft-content">
                                            <h4><a href="item-details.html">EUPHORIA de</a> </h4>
                                            <div class="price-like d-flex justify-content-between align-items-center">
                                                <p class="nft-price">Price: <span class="yellow-color">0.34
                                                        PHOTON</span>
                                                </p>
                                                <a href="#" class="nft-like" data-blast="color"><i
                                                        class="icofont-heart"></i>
                                                    230</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="nft-item">
                                <div class="nft-inner">
                                    <!-- nft top part -->
                                    <div class="nft-item-top d-flex justify-content-between align-items-center">
                                        <div class="more-part">
                                            <div class=" dropstart">
                                                <a class=" dropdown-toggle" href="#" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    data-bs-offset="25,0">
                                                    <i class="icofont-flikr"></i>
                                                </a>

                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#"><span>
                                                                <i class="icofont-warning"></i>
                                                            </span> Report </a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><span><i
                                                                    class="icofont-reply"></i></span> Share</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- nft-bottom part -->
                                    <div class="nft-item-bottom">
                                        <div class="nft-thumb">
                                            <img src="assets/images/arts/v15.png" alt="nft-img">

                                            <!-- nft countdwon -->
                                            <ul data-blast="bgColor" class="nft-countdown count-down"
                                                data-date="July 05, 2022 21:14:01">
                                                <li>
                                                    <span class="days">34</span><span class="count-txt">D</span>
                                                </li>
                                                <li>
                                                    <span class="hours">09</span><span class="count-txt">H</span>
                                                </li>
                                                <li>
                                                    <span class="minutes">32</span><span class="count-txt">M</span>
                                                </li>
                                                <li>
                                                    <span class="seconds">32</span><span class="count-txt">S</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nft-content">
                                            <h4><a href="item-details.html">Futuristic cols</a> </h4>
                                            <div class="price-like d-flex justify-content-between align-items-center">
                                                <p class="nft-price">Price: <span class="yellow-color">0.34
                                                        PHOTON</span>
                                                </p>
                                                <a href="#" class="nft-like" data-blast="color"><i
                                                        class="icofont-heart"></i>
                                                    130</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="nft-item">
                                <div class="nft-inner">
                                    <!-- nft top part -->
                                    <div class="nft-item-top d-flex justify-content-between align-items-center">
                                        <div class="more-part">
                                            <div class=" dropstart">
                                                <a class=" dropdown-toggle" href="#" role="button"
                                                    data-bs-toggle="dropdown" aria-expanded="false"
                                                    data-bs-offset="25,0">
                                                    <i class="icofont-flikr"></i>
                                                </a>

                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#"><span>
                                                                <i class="icofont-warning"></i>
                                                            </span> Report </a>
                                                    </li>
                                                    <li><a class="dropdown-item" href="#"><span><i
                                                                    class="icofont-reply"></i></span> Share</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- nft-bottom part -->
                                    <div class="nft-item-bottom">
                                        <div class="nft-thumb">
                                            <img src="assets/images/arts/v16.png" alt="nft-img">

                                            <!-- nft countdwon -->
                                            <ul data-blast="bgColor" class="nft-countdown count-down"
                                                data-date="July 05, 2022 21:14:01">
                                                <li>
                                                    <span class="days">34</span><span class="count-txt">D</span>
                                                </li>
                                                <li>
                                                    <span class="hours">09</span><span class="count-txt">H</span>
                                                </li>
                                                <li>
                                                    <span class="minutes">32</span><span class="count-txt">M</span>
                                                </li>
                                                <li>
                                                    <span class="seconds">32</span><span class="count-txt">S</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="nft-content">
                                            <h4><a href="item-details.html">Space Crafts</a> </h4>
                                            <div class="price-like d-flex justify-content-between align-items-center">
                                                <p class="nft-price">Price: <span class="yellow-color">0.34
                                                        PHOTON</span>
                                                </p>
                                                <a href="#" class="nft-like" data-blast="color"><i
                                                        class="icofont-heart"></i>
                                                    230</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>


   <!-- ===============//footer section start here \\================= -->
   <footer class="footer-section">
    <div class="footer-top" style="background-image: url(assets/images/footer/bg.jpg);">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row g-4 align-items-center justify-content-center">
                    <div class="col-lg-6">
                        <div class="newsletter-part">
                            <div class="ft-header">
                                <h4>Get The Latest African Art Updates</h4>
                            </div>
                            <form action="#">
                                <input type="email" placeholder="Your Mail Address">
                                <button type="submit"> Subscrib now</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="social-part ps-lg-5">
                            <div class="ft-header">
                                <h4>Join the Community</h4>
                            </div>
                            <ul class="social-list d-flex flex-wrap align-items-center mb-0">
                                <li class="social-link"><a href="#"><i class="icofont-twitter"></i></a></li>
                                <li class="social-link"><a href="#"><i class="icofont-twitch"></i></a></li>
                                <li class="social-link"><a href="#"><i class="icofont-reddit"></i></a></li>
                                <li class="social-link"><a href="#"><i class="icofont-instagram"></i></a></li>
                                <li class="social-link"><a href="#"><i class="icofont-dribble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="footer-links padding-top padding-bottom">
            <div class="container">
                <div class="row g-5 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-5">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <p class="text-center py-4 mb-0">All rights reserved &copy; Enftomark || Design By: <a
                    href="#">codexcoder</a>
            </p>
        </div>
    </div>
</footer> 
<!-- ===============//footer section end here \\================= -->






    <!-- scrollToTop start here -->
    <a href="#" class="scrollToTop"><i class="icofont-stylish-up"></i></a>
    <!-- scrollToTop ending here -->



    <!-- All Scripts -->
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="assets/js/blast.min.js"></script> -->
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/lightcase.js"></script>
    <script src="assets/js/swiper-bundle.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/functions.js"></script>
</body>

</html>